.beCenterX {
  left: 50%;
  transform: translate(-50%, 0);
}
.beCenterY {
  top: 50%;
  transform: translate(0, -50%);
}
.beCenter {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.formPanel {
  position: relative;
  width: 100%;
}
.formPanel .inputBox {
  position: relative;
  background-color: #91989f;
  z-index: 1;
  width: 100%;
  min-width: 220px;
  height: 220px;
  transition: all .5s;
}
.formPanel .inputBox p {
  display: inline;
  position: absolute;
  margin: 0;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 20px;
  font-weight: 100;
}
.formPanel .checkBox {
  position: absolute;
  z-index: 2;
  top: 0;
  width: 100%;
  min-width: 200px;
  height: 220px;
  opacity: 0;
  background-color: #F6C555;
  cursor: pointer;
  left: 50%;
  transform: translate(-50%, 0);
}
.all-img {
  display: inline-block;
  width: 100%;
  position: relative;
  display: flex;
  /* flex-direction: row; */
  flex-wrap: wrap;
}
.all-img .resultPanel {
  display: inline-block;
  height: 150px;
  overflow: hidden;
  margin: 10px 10px;
  border-radius: 5px;
  margin-top: 5px;
  background-color: black;
}
.all-img .resultPanel .panel-container {
  display: inline-block;
  position: relative;
}
.all-img .resultPanel .panel-container .func-btn {
  display: flex;
  height: 150px;
  position: absolute;
  background: rgba(255, 255, 255, 0.3);
  top: 0;
  z-index: 9;
  width: 100%;
}
.all-img .resultPanel .panel-container .func-btn .funcbtn {
  display: flex;
  float: left;
  height: 150px;
  width: 50%;
  /* text-align: center; */
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border-right: 1px rgba(0, 0, 0, 0.3) solid;
  transition: all .3s;
}
.all-img .resultPanel .panel-container .func-btn .funcbtn p {
  font-size: 24px;
  margin: 0;
  max-width: 80%;
  position: relative;
  word-wrap: break-word;
}
.all-img .resultPanel .panel-container .func-btn .funcbtn.full {
  border-right: none;
  border-left: 1px rgba(0, 0, 0, 0.3) solid;
}
.all-img .resultPanel .panel-container .func-btn .funcbtn:hover {
  background-color: rgba(255, 255, 255, 0.8);
}
.all-img .resultPanel .panel-container .review_img {
  height: 150px;
  border-radius: 5px;
  position: relative;
  display: block;
}
.resultContainer .resultPanel {
  display: none;
  position: relative;
  height: auto;
  margin: 10px 0;
  border: 1px solid orangered;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  left: 50%;
  transform: translate(-50%, 0);
}
.resultContainer .resultPanel div {
  margin: 0px 10px;
}
.resultContainer .resultPanel div .pathText {
  font-size: 12px;
  display: inline-block;
  background-color: #7DB9DE;
  border: 1px solid #7DB9DE;
  margin-left: 5px;
  padding: 0 5px;
  height: 30px;
  line-height: 30px;
  color: white;
  border-radius: 5px;
  cursor: pointer;
  transition: all .5s;
}
.resultContainer .resultPanel div .pathText:hover {
  background-color: white;
  color: #7DB9DE;
}
.loadingCover {
  display: none;
  transition: all 1s;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 9;
  width: 100%;
  height: 100%;
  background-color: #91989f;
}
.loadingCover .load {
  position: absolute;
  display: inline;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.loadingCover .load .letter {
  animation-name: loadingF;
  animation-duration: 1.6s;
  animation-iteration-count: infinite;
  display: inline;
  color: white;
  font-size: 25px;
  font-weight: 100;
}
.loadingCover .load .l-1 {
  animation-delay: .48s;
}
.loadingCover .load .l-2 {
  animation-delay: .6s;
}
.loadingCover .load .l-3 {
  animation-delay: .72s;
}
.loadingCover .load .l-4 {
  animation-delay: .84s;
}
.loadingCover .load .l-5 {
  animation-delay: .96s;
}
.loadingCover .load .l-6 {
  animation-delay: 1.08s;
}
.loadingCover .load .l-7 {
  animation-delay: 1.2s;
}
.loadingCover .load .l-8 {
  animation-delay: 1.32s;
}
.loadingCover .load .l-9 {
  animation-delay: 1.44s;
}
.loadingCover .load .l-10 {
  animation-delay: 1.56s;
}
.msg-box {
  display: none;
  width: 240px;
  height: 80px;
  position: fixed;
  background-color: #91989f;
  color: white;
  border-radius: 10px;
  left: 50%;
  bottom: 100px;
  transform: translate(-50%, 0);
}
.msg-box .msg-box-content {
  display: inline-block;
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
@keyframes loadingF {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
